html, body {
    min-height: 100vh;
}

body {
    --bg-color: hsl(210, 17%, 98%);
    --white: hsl(0, 0%, 100%);
    --sh-color: hsl(0, 0%, 85%);
    --light-grey: hsl(0, 0%, 81%);
    --txt-grey: hsl(224, 10%, 45%);
    --dark-grey: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
    --cnt-purple: hsl(263, 55%, 52%);
    --light-purple: hsl(264, 82%, 80%);
    --txt-purple: hsl(260, 100%, 95%);

    background: var(--bg-color);
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-grey);
    line-height: 1.2rem;
    margin: 0;
}

main {
    display: grid;
    max-width: 80rem;
    width: fit-content;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr 1fr;
    row-gap: 2em;
    column-gap: 2.5em;
    margin: 5rem auto
}

h1 {
    font-weight: 600;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    line-height: 1.75rem;
    z-index: 10;
}

article {
    background: var(--white);
    box-sizing: border-box;
    min-width: 20rem;
    padding: 2rem;
    border-radius: .8rem;
    box-shadow: 1.5rem 2.9rem 2rem var(--sh-color);
    z-index: 10;
}

article div {
    display: flex;
    align-items: center;
}

.userFoto {
    border-radius: 50%;
    width: 2.1rem;
    margin-right: 1.2rem;
    border: .2em solid var(--white);
}

.txt__user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
}

.name, .carge {
    margin: 0;
    font-weight: 500;
}

main article:first-child {
    grid-column: 1 / 3;
}

main article:nth-child(4) {
    grid-column: 2 / 4;
}

main article:last-child {
    grid-area: 1 / -1 / 3 / -1;
}

.cn__purple {
    position: relative;
    background: var(--cnt-purple);
    color: var(--txt-purple);
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.cn__purple h1 {
    color: var(--white);
}
.cn__purple .userFoto {
    border-color: var(--light-purple);
    z-index: 2;
}

.cn__dark {
    background: var(--dark-blue);
    color: var(--light-grey);
}
.cn__dark img {
    border-color: var(--cnt-purple);
}

.cn__grey {
    background: var(--dark-grey);
    color: var(--light-grey);
}
.cn__grey h1 {
    color: var(--white);
}
.cn__grey img {
    border-color: var(--txt-grey);
}

.attribution {
    margin-top: 5rem;
    z-index: 11;
}

.comas {
    position: absolute;
    top: 0;
    right: 8em;
    height: 9em;
}

@media (max-width: 1030px) {
    body {
        width: 100vw;
    }

    main {
        box-sizing: border-box;
        width: 100vw;
    }

    main article:first-child {
        grid-column: auto;
    }

    main article:nth-child(4) {
        grid-column: auto;
    }

    main article:last-child {
        grid-area:auto;
    }

    article {
        margin: 0em 2em;
        padding: 2rem;
        width: auto;
        min-width: 0;
    }

    .attribution {
        margin-top: 1.5rem;
    }
}